$primary-color: #777;
$secondary-color: #333;
$gray-color: #444;
$light-gray-color: #e3e3e3;
$red-color: #c72727;
$white-color: #fff;
$black-color: #000;
$yellow-color: #f99500;
$purple-color: #a66bbe;
$blue-color: #009cff;